:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}.container-col{
  display: flex;
  flex-direction: column;
  padding: 2px 15px;
}

/*--------------------Navbar---------------------------*/
nav{
  width: 99vw;
  background-color: grey;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo{
  width: auto;
  height: auto;
}.menu{
  min-width: 30px;
  height: 30px;
  background-color: bisque;
}
/*----------------------------------Orders---------------------------*/
.container-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
div.container{
  width: auto;
}ol.container{
  width: 90%;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}li{
  list-style: none;
  background-color: aliceblue;
  color: #1a1a1a;
  width: 25%;
}
/*------------------Buttons-------------------------*/
input{
  width: 100px;
}

